{% extends 'flatpages/default.html' %}

{% block content %}
    <h1>Вход на сайт</h1>
    <p>Пожалуйста, введите свои имя пользователя и пароль.</p>

    <form method="post" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">
                Неверное имя пользователя или пароль. Пожалуйста, попробуйте еще раз.
            </div>
        {% endif %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
{% endblock content %}