{% extends 'flatpages/default.html' %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h2>Всего новостей: {{ total_news_count }}</h2>
    <h1>Новости</h1>

    <!-- Начало списка новостей -->
    <ul>
        {% for post in news %}
            <li>
                <h2>{{ post.title }}</h2>

                <p><strong>Автор:</strong> {{ post.author }}</p>

                <!-- Выводим дату в формате 13.04.2026 -->
                <p><strong>Дата публикации:</strong> {{ post.created_at|date:"d.m.Y" }}</p>

                <!-- Выводим первые 20 слов текста статьи -->
                <div class="news-text">
                    {{ post.text|truncatewords:20 }}
                </div>

                <hr>
            </li>
        {% empty %}
            <li>Новостей пока нет.</li>
        {% endfor %}
    </ul>
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}